services:
  app:
    build:
        context: .
        dockerfile: Dockerfile
    ports:
        -   "8080:80"
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  worker:
      build:
          context: .
          dockerfile: Dockerfile
      command: php artisan queue:work --tries=3
      volumes:
          - ./:/var/www/html
      depends_on:
          - db

  db:
    image: mysql:8.2
    environment:
      MYSQL_ROOT_PASSWORD: yourpassword
      MYSQL_DATABASE: laravel
      MYSQL_USER: laraveluser
      MYSQL_PASSWORD: yourpassword
    ports:
        - "3308:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
    dbdata:
      driver: local
